@media screen and (max-width: 777px) {
  // * headers
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
  }

  .right-header {
    grid-row: 1;
    margin: 0 auto;
    width: 90%;
    .name {
      font-size: 2.4rem !important;
      padding: 1rem;
    }
  }

  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }

  // CONTROL ADJUST position
  .controls {
    background-color: var(--color-grey-5);
    top: auto;
    left: 50%;
    bottom: 0;
    flex-direction: row;
    justify-content: center;

    transform: translateX(-50%);
    width: 100%;
    .control {
      margin: 1rem 0.3rem;
    }
  }

  // light dark mode btn adjust
  .theme-btn {
    top: 5%;
    height: 50px;
    width: 50px;
  }

  // ABOUT CONTAINER
  .about-container {
    grid-template-columns: 1fr;
    .right-about-container {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about-container {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  // TIMELINE
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }

  // PORTFOLIO PROJECTS
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .section {
    padding: 2rem 2.4rem; 
  }

  .main-title {
    h2 {
      font-size: 2rem;
      span {
        font-size: 2.2rem;
      }
      .bg-text {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  // contact
  .contact-content-container {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.4rem;
      form {
        .first-input-control {
          flex-direction: column;
        }
        .first-input-control :last-child {
          margin-left: 0;
          margin-top: 1.5rem;
        }
        .submit-btn {
          margin-bottom: 4.5rem;
        }
      }
    }
  }

  .controls {
    background-color: var(--color-grey-5);
    top: auto;
    left: 50%;
    bottom: 0;
    flex-direction: row;
    justify-content: center;

    transform: translateX(-50%);
    width: 100%;
    .control {
      margin: 1rem 0.3rem;
    }
  }

  .theme-btn {
    top: 5%;
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 1400px) {
  header {
    padding: 0 !important;
  }
}