* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

// for dark mode: changing colors
:root {
  --color-primary: #3A3845;
  --color-secondary: #C69B7B; 
  --color-white: #F7CCAC;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
  --transition-1: all .4s ease-in-out;
}

.light-mode {
  --color-primary:  #C69B7B;
  --color-secondary:  #454e56;
  --color-white:  #000;
  --color-black: #F7CCAC;
  --color-grey0:  #12181b;
  --color-grey-1:  #2a2e35;
  --color-grey-2:  #3A3845;
  --color-grey-3: #000;
  --color-grey-4:  #f8f8f8;
  --color-grey-5:  #8a99ab; // #b2becd;
  --color-grey-6:  #6c7983;
}


body {
  background-color: var(--color-primary);
  color: var(--color-grey0);
  cursor: default;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  transition: all .4s ease-in-out;
}


a {
  color: inherit;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
}

header {
  color: var(--color-white);
  height: 100vh;
  overflow: hidden;
}

// styling sections
section {
  left: 0;
  height: 100vh;
  padding: 3rem 18rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.section {
  background-color: var(--color-primary);
  transform: translateY(-100%) scale(0);
  transition: var(--transition-1);
}

.section1 {
  display: none;
  transform: translateY(0) scale(1);
}

.section2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section3 {
  display: none;
  transform: translateY(0) scale(1);
}


.section4 {
  display: none;
  transform: translateY(0) scale(1);
}

// ! ACTIVE CLASS
.active {
  animation: scaleAnim 1s ease-in-out;
  display: block;

  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}


// Controls
.controls {
  position: fixed;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: var(--transition-1);
    i {
      color: var(--color-grey0) !important;
    }
  }

  .control {
    background-color: var(--color-grey-4);
    border-radius: 50%;
    cursor: pointer;
    height: 52px;
    padding: 1rem;
    width: 52px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: var(--box-shadow-1);
    margin: .7rem 0;

    i {
      color: var(--color-grey-2);
      font-size: 1.2rem;
      pointer-events: none;
    }
  }
}

// HEADER: content
.header-content {
  color: var(--color-white) !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  
  .left-header {
    display: flex;
    align-items: center;
    position: relative;
    
    .h-shape {
      background-color: var(--color-secondary);
      transition: var(--transition-1);
      height: 100%;
      width: 65%;

      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 69% 0, 90% 100%, 0% 100%);
    }
    .image {
      background-color: var(--color-black);
      border-radius: var(--br-sm-2);
      height: 82%; 
      width: 64%;
      margin-left: 4rem;
      transition: var(--transition-1);

      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: var(--transition-1);
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  
  .right-header {
    color: var(--color-grey0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 17rem;

    .name {
      font-family: 'Nunito', sans-serif;
      font-size: 3rem;
      margin-bottom: 6rem;
      span {
        color: var(--color-secondary);
        font-family: 'Marck Script', cursive;
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}


// reusables
.btn-container {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 28px;
  // color: inherit;
  font-weight: 600;
  position: relative;

  // border: 1px solid var(--color-secondary);

  display: flex;
  align-self: flex-start;
  align-items: center;

  overflow: hidden;

  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: var(--transition-1);
    z-index: -1;
  }
  &:hover {
    &::before {
      background-color: var(--color-secondary);
      height: 100%;
      width: 100%;
      transform: translateX(0);
    }

  }
}


// ABOUT
.main-title {
  text-align: center;

  h2 {
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;

    span {
      color: var(--color-secondary);
    }
    .bg-text {
      position: absolute;
      left: 50%;
      top: 50%;

      color: var(--color-grey-5);
      transition: var(--transition-1);
      transform: translate(-50%, -50%);
      z-index: -1;

      font-size: 6.2rem;
      font-weight: 800;
    }
  }
}

// About: Section
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 0 5rem 0;
  
  .right-about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    .about-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      box-shadow: 1px 2px 15px rgba(0,0,0,.1);
      transition: var(--transition-1);
      &:hover {
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 2px 15px rgba(0,0,0,.32);
        cursor: default;
        transform: translateY(-5px);
      }
      .about-text {
        padding: 1.5rem;

        display: flex;
        flex-direction: column;
        
        .large-text {
          color: var(--color-secondary);
          font-size: 3rem;
          font-weight: 700;
        }
        .small-text {
          color: var(--color-grey-2);
          font-size: 1.2rem;
          letter-spacing: 2px;
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;

          &::before {
            background-color: var(--color-grey-5);
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            top: 15px;
            width: 2rem;
          }
        }
      }
    }
  }

  .left-about-container {
    padding-right: 5rem;

    p {
      color: var(--color-grey-1);
      line-height: 1.8rem;
      padding: 1rem;
    }
    h4 {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
}

// About: stats
.about-stats {
  padding-bottom: 4rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .progress-title {
        font-weight: 500;
        text-transform: uppercase;
      }
      .progress-container {
        display: flex;
        align-items: center;
        .progress-text {
          color: var(--color-grey-3);
        }
        .progress {
          position: relative;
          margin-left: 1rem;

          background-color: var(--color-grey-4);
          height: .44rem;
          width: 100%;

          span {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;

            background-color: var(--color-secondary);
            transition: var(--transition-1);
            width: 60%;
          }

          .excel {
            width: 50%;
          }

          .sql {
            width: 30%;
          }

          .python {
            width: 20%;
          }

          .tableau {
            width: 40%;
          }
        }
      }
    }
  }
}

.stat-title {
  font-size: 1.4rem;
  padding: 3.5rem 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::before {
    background-color: var(--color-secondary);
    transform: translateX(-50%);

    content: '';
    height: 1px;
    left: 50%;
    top: 0;
    width: 40%;

    position: absolute;
  }
}

// TIMELINE
.timeline {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item {
      border-left: 1px solid var(--color-grey-5);
      padding-left: 3rem;
      position: relative;
      .timeline-icon {
        background-color: var(--color-secondary);
        position: absolute;
        left: -22px;
        top: 0;

        border-radius: 50%;
        height: 50px;
        width: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        i{
          font-size: 1.3rem;
        }
      }
      .timeline-duration {
        background-color: var(--color-grey-5);
        border-radius: 15px;
        display: inline-block;
        font-size: .8rem;
        font-weight: 500;
        padding: .2rem .6rem;
        text-transform: uppercase;
      }
      h5 {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 1rem 0;
        text-transform: uppercase;

        span {
          color: var(--color-grey-2);
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      p {
        color: var(--color-grey-1);
      }
    }
}

// PORFOLIO
.portfolio-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  margin-top: 3rem;

  .portfolio-item {
    position: relative;

    img {
      border-radius: 15px;
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
    .hover-items {
      background-color: var(--color-secondary);
      border-radius: 15px;
      height: 100%;
      width: 100%;

      position: absolute;
      left: 0;
      top: 0;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      // hide hover items before hover
      opacity: 0;
      transform: scale(0);
      transition: var(--transition-1);

      h3 {
        color: var(--color-primary);
        cursor: default;
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
      }
      
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          background-color: var(--color-primary);
          border-radius: 50%;
          height: 40px;
          margin: 0 1rem;
          width: 40px;

          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;
          transition: var(--transition-1);

          i {
            color: var(--color-grey-1);
            font-size: 1.5rem;
            margin: 0 1rem;
          }

          &:hover {
            background-color: var(--color-white);
            i {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}

.portfolio-item:hover .hover-items {
  opacity: 0.85;
  transform: scale(1);
}


// CONTACT
.contact-content-container {
  display: flex;
  padding-top: 3.3rem;
  .left-contact {
    flex: 2;

    h4 {
      font-size: 2rem;
      margin-top: 1rem;
      text-transform: uppercase;
    }
    p {
      margin: 1rem 0;
      line-height: 2rem;
    }

    .contact-info {
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0.3rem 0 !important;
          padding: 0 !important;
        }
        .icon {
          display: grid;
          grid-template-columns: 30px 1fr;
          i {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }

    .socmed-icon {
      display: flex;
      margin-top: 2rem;
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-grey-5);
        color: var(--color-grey0);
        cursor: pointer;

        border-radius: 50%;
        height: 50px;
        width: 50px;

        margin: 0 0.4rem;
        transition: var(--transition-1);

        &:hover {
          background-color: var(--color-secondary);
          i {
            color: var(--color-primary);
          }
        }
        i {
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 1.4rem;
        }
      }
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;
    .input-control {
      margin: 1.5rem 0;

      input, textarea {
        background-color: var(--color-grey-5);
        border-radius: 30px;
        color: var(--color-grey-1);
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;

        border: none;
        outline: none;
        padding: .7rem 1rem;
        resize: none;
        width: 100%;
      }
    }
    .first-input-control {
      display: flex;
      :last-child {
        margin-left: 1rem;
      }
    }

      button {
        background-color: var(--color-grey-1);
        border-radius: 28px;

        appearance: none;
        align-items: center;
        // background-color: transparent;
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        color: #3B3B3B;
        cursor: pointer;
        display: flex;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: normal;
        margin: 0;
        min-height: 30px;
        outline: none;
        padding: 6px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;
     
        .btn-text {
          padding: 1rem;
        }
        .btn-icon {
          background-color: var(--color-secondary);
          display: flex;
          align-items: center;
          justify-content: center;
      
          border-radius: 50%;
          padding: 1rem;
        }
      }

      .form-btn:disabled {
        pointer-events: none;
      }

      .form-btn:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }

      .form-btn:active {
        box-shadow: none;
        transform: translateY(0);
      }
    }
  }


// DARK MODE
.theme-btn {
  background-color: var(--color-grey-4);
  border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  position: fixed !important;
  right: 3%;
  bottom: 5%;
  height: 67px;
  width: 67px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: translateY(-3px);
  }
  i {
    color: var(--color-grey-2);
    font-size: 1.4rem;
    pointer-events: none;
  }
}


// Tooltip
.tooltip {
  position:relative;
}

.tooltip:before {
  content: attr(data-text);
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:10px; 
  
  /* basic styles */
  background: var(--color-grey-6);
  border-radius:10px;
  color: var(--color-grey0);
  padding:10px;
  text-align:center;
  width:80px;

  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}


.tooltip:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  right:100%;
  margin-left:-5px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
 
  /* the arrow */
  border:10px solid var(--color-grey-6);
  border-color: transparent var(--color-grey-6) transparent transparent;
  
  display:none;
}

.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}

.tooltip.left:before {
  /* reset defaults */
  left:initial;
  margin:initial;

  /* set new values */
  right:100%;
  margin-right:15px;
}



@import './media';